.r{
    -fx-background-color: linear-gradient(to left, #4a9ff6, #ffffff);
}

.bg-root {
    -fx-background-color: linear-gradient(to left, #885435, #8d6d54, #ffffff);
}


.title-label {
    -fx-font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #5c3b25;;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.2), 2, 0.0, 1, 1);
}


.text-field, .password-field {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 8 12;
    -fx-font-size: 14px;
    -fx-background-color: #f1e8e1cc;
    -fx-border-color: transparent;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #a35e3e;
    -fx-border-width: 2;
}

.login-button {
    -fx-background-color: #a35e3e;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-cursor: hand;
}

.login-button:hover {
    -fx-background-color: #b06b49;
}
.register-button {
    -fx-background-color: transparent;
    -fx-border-color: #a35e3e;
    -fx-text-fill: #a35e3e;
    -fx-border-width: 2;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-cursor: hand;
}

.register-button:hover {
    -fx-background-color: rgba(163, 94, 62, 0.1);
}